.bgHeader {
  background: #dbeafe;
}

.bgHeader header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.bgHeader header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bgHeader header nav ul a {
  color: #1e3a8a;
  transition: 0.4s;
}

.bgHeader header nav ul a:hover {
  filter: brightness(150%);
}

.bgHeader header nav ul li {
  padding: 15px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.4s;
}

.bgHeader header nav ul .navItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}
